@charset "utf-8";

.wrapper {
  margin: 0 auto;
  width: 400px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 100px;
  background-color: #141f40;
}

.green {
  float: left;
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
}

.main {
  float: left;
  width: 250px;
}

.yellow-blue {
  float: left;
  width: 150px;
}

.orange {
  float: left;
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
}

.yellow {
  height: 50px;
  background-color: #dbd400;
}

.blue {
  height: 100px;
  background-color: #0093b7;
}

.red {
  height: 100px;
  background-color: #8c2727;
}

.footer {
  height: 100px;
  background-color: #d98d30;
}